@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
@media (min-width:992px) {
	body { background: #eaeaea; font: 300 .875rem/1 'Roboto', sans-serif; color: #000; border-top: 42px solid #f58426; }
	a, body, div, label, legend, li, ol, p, td, th, ul, fieldset, form, input, optgroup, select, textarea { font-family: 'Roboto', verdana, arial; font-size: .875rem; font-weight: 300; color: #000; }
	a, b, body, cite, div, em, h1, h2, h3, h4, h5, h6, i, label, legend, li, ol, p, strong, td, th, u, ul { font-family: 'Roboto', verdana, arial;}
	strong { font-weight: 400 !important; color: #000; }
	h1 { font-weight: 400; }
	
	strong, #tl_navigation .tl_level_2 a.active { font-weight: 700; font-family: 'Roboto', verdana, arial; }
	
	#header, #left, #main { background: rgba(255, 255, 255, 0.98); box-shadow: none; border-radius: 0; border: 0; padding: 0; }
	
	#header h1 { font-size: 0; display: block; background: url("/system/themes/icons/logo.svg") no-repeat 5px center; width: 200px; height: 42px; margin-top: 0; padding: 0; }
	#header h1:after { content: "Contao"; font-family: 'Roboto'; color: #fff; padding-left: 36px; height: 42px; line-height: 42px; font-size: 1.125rem; font-weight: 500; }
	#header .collapsible_area #tmenu { font-size: 9px; height: 42px; line-height: 42px; }
	#header .collapsible_area #tmenu a { padding-top: 0; padding-bottom: 0; }
	
	#header { margin-top: 0; background: transparent; margin-top: -42px; } 
	#header > .collapsible_area { position: relative; }
	#header > .collapsible_area > div { position: absolute; top: -42px; right: 15px; padding: 0; }
	#header > .collapsible_area > div a { color: #fff; background: none; padding: 0; font-size: 9px; }
	 
	#left #tl_navigation > h1 { display: none; }
	#left #tl_navigation ul { margin-top: 0 !important; }
	#left #tl_navigation ul li { padding: 0 !important; }
	#left #tl_navigation ul li a { display: block; }
	#left #tl_navigation .active { font-weight: 400 !important; }
	#left #tl_navigation .tl_level_1_group img { position: absolute; top: 12px; right: 5px; }
	#left #tl_navigation .tl_level_1_group a { font-size: 13px; display: block; padding: 12px 9px 12px 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; position: relative; font-weight: 400; }
	#left #tl_navigation .tl_level_1_group:first-child a { border-top: 0px solid #ddd; }
	#left #tl_navigation .tl_level_1_group a[onclick="return AjaxRequest.toggleNavigation(this,'content')"] {background: url("/system/themes/icons/article.svg") 6px center no-repeat #f3f3f3; }
	#left #tl_navigation .tl_level_1_group a[onclick="return AjaxRequest.toggleNavigation(this,'design')"] {background: url("/system/themes/icons/themes.svg") 6px center no-repeat #f3f3f3; }
	#left #tl_navigation .tl_level_1_group a[onclick="return AjaxRequest.toggleNavigation(this,'accounts')"] {background: url("/system/themes/icons/mgroup.svg") 6px center no-repeat #f3f3f3; }
	#left #tl_navigation .tl_level_1_group a[onclick="return AjaxRequest.toggleNavigation(this,'system')"] {background: url("/system/themes/icons/settings.svg") 6px center no-repeat #f3f3f3; }
	#left #tl_navigation .tl_level_1_group a[onclick="return AjaxRequest.toggleNavigation(this,'devtools')"] {background: url("/system/themes/icons/modules.svg") 6px center no-repeat #f3f3f3; }
	#left #tl_navigation .tl_level_2 { padding: 4px 0 6px !important; }
	#left #tl_navigation .tl_level_2 a { display: block; padding: .4em 10px !important; font-weight: 300; }
	#left #tl_navigation .tl_level_2 a.navigation { background-image: none !important; }
	
	#main h1.main_headline { font-weight: 400; margin: 0; padding: 12px; border-bottom: 1px solid #ddd; background: #fff; color: #000; font-size: .875rem; }
	#main .tl_listing .tl_left { margin-left: 0; text-indent: 0; }
	#main .tl_folder_top { padding: 6px 0; }
	#main .tl_folder, #main .tl_file, #main .tl_file_list { padding: 5px 0; }
	#main .tl_panel, .tl_version_panel { border: none; }
	#main #tl_shortcuts { background: #fff; padding: 0px 5px 5px; border: 1px solid #ddd; display: inline-block; margin-bottom: 0px; }
	#main #tl_versions .tl_listing thead tr th { font-weight: 600; padding: 7px; background: #eee; }
	#main #tl_versions .tl_listing tr { border-bottom: 1px solid #ddd; }
	#main .header_new { padding-left: 18px; background-image: url("../../system/themes/icons/new.svg"); }
	#main .header_toggle { background: url("../../system/themes/icons/folPlus.svg") no-repeat -1px center; }
	#main .header_edit_all { background-image: url("../../system/themes/icons/all.svg"); }
	#main .header_rss { background-image: url("../../system/themes/icons/rss.svg"); }
	#main .header_back { background-image: url("../../system/themes/icons/back.svg"); }
	#main .header_css_import { background-image: url("../../system/themes/icons/cssimport.svg"); }
	
	p.sort_hint { background-color: transparent; }
	
	#pal_image_legend .tl_imageSize_0,
	#pal_image_legend .tl_imageSize_1,
	#pal_image_legend .trbl_top,
	#pal_image_legend .trbl_bottom,
	#pal_image_legend .trbl_left,
	#pal_image_legend .trbl_right,
	#ctrl_playerSize .tl_text_2,
	.tl_text_4.tl_imageSize_0,
	.tl_text_4.tl_imageSize_1
	 { padding: 2px !important; }
	
	
	.tl_submit { padding: 7px 12px !important; border: 1px solid #aaa; border-radius: 2px; cursor: pointer; background: #fff; font-weight: 300; }
	
	.tl_xpl, .tl_formbody_edit { padding: 0; }
	.tl_box, .tl_tbox, .installlog { padding: 0px 18px 26px; }
	a.tl_submit[href="contao/update.phar.php/index.php"]  { margin: 3px 18px 9px; }
	fieldset.tl_box, fieldset.tl_tbox { padding-top: 6px; border: solid #f3f3f3; border-width: 26px 0 0; }
	fieldset.tl_box:hover { border-color: #efefef; }
	fieldset.tl_box:hover legend { background-color: #efefef; font-weight: 400; }
	td { line-height: 1.3; }
	
	fieldset.tl_box>legend, fieldset.tl_tbox>legend { display: block; width: 100%; color: #589b0e; padding: 6px 0 6px 18px; background: #f3f3f3 url("/system/themes/icons/navcol.svg") left center no-repeat; cursor: pointer; }
	fieldset.collapsed>legend { background: #f3f3f3 url("/system/themes/icons/navexp.svg") left center no-repeat; } 
	fieldset.collapsed { padding-top: 0; padding-bottom: 12px; margin-bottom: 0; }
	
	select.tl_select, select.tl_select_column, select.tl_select_interval, select.tl_select_unit { height: 30px; }
	.tl_mselect, .tl_select, .tl_select.tl_chosen a, .tl_select_column, .tl_select_interval, .tl_select_unit, .tl_text, .tl_text_2, .tl_text_3, .tl_text_4, .tl_text_interval, .tl_text_trbl, .tl_text_unit, .tl_textarea { border: 1px solid #aaa; padding: 6px !important; border-radius: 2px; }
	.tl_select.tl_chosen { padding: 0 !important; }
	
	.styled_select { line-height: 16px; }
	.styled_select b,
	.chzn-container-single .chzn-single div b { background: url("../../assets/mootools/stylect/images/select.gif") center center no-repeat transparent; display: block; width: 22px; height: 100%; position: absolute; top: 0; right: 0; border: none; }
	.chzn-container.chzn-container-single.tl_select.tl_chosen > a > div { background: transparent; border: none; }
	select.tl_select_unit { margin-top: 0px;}
	.tl_help, .tl_help a { font-size: .75rem; }
	#tl_versions td { padding: 4px; }
	
	#tl_messages h2, #tl_shortcuts h2, #tl_versions h2 { border-width: 0; background: transparent; font-size: 1rem; font-weight: 400; }
	.tl_info { background: transparent; padding: 0 6px; }
	
	.no_padding { padding: 6px; }
	
	p.tl_error.tl_permalert { margin-top: 10px; }
	
	img[src="system/themes/flexible/images/stop.png"] { padding: 10px; }
	form.tl_form[action="contao/confirm.php"] { padding: 10px 20px; }
	
	
	.tip-top { height: 6px; position: absolute; top: -13px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #333; }
	.tip { max-width: 320px; padding: 6px 9px; border-radius: 2px; background: #333; box-shadow: none; }
	
	/************************************************************************************************************** Login - Begin */
	#container #main > h2 { display: none; }
	#main > .tl_login_form { padding: 20px; }
	#main > .tl_login_form .tl_login_table td:nth-child(2n) { position: relative; }
	#main > .tl_login_form .tl_login_table td:nth-child(2n) div.styled_select.tl_select { width: 100%; }
	#main > .tl_login_form .tl_login_table td:nth-child(2n) select.tl_select { width: 100%; }
	#main #go_to_frontend { padding: 20px; }
	/************************************************************************************************************** End */
	
	
	/************************************************************************************************************** fixed Footer - Begin */
	#main .tl_formbody_submit { position: fixed; bottom: 0; z-index: 99; }
	#main .tl_install_form .tl_formbody_submit { position: relative; bottom: auto; z-index: 99; }
	@media (min-width: 1200px) { #main .tl_formbody_submit { width: 921px; } #main .tl_install_form .tl_formbody_submit { width: auto; } }
	#footer { padding: 12px 0 21px; text-align: left; }
	.tl_submit_container { border-right: 1px solid #fff; }
	.tl_formbody_submit { border-right: 1px solid #bbb; }
	.tl_install_form .tl_formbody_submit { border-right: 0px solid #bbb; }
	/************************************************************************************************************** End */
	
	/************************************************************************************************************** dark background - Begin */
	body { background: rgb(39,40,34); }
	#footer a { color: #ddd; font-size: 10px; }
	/************************************************************************************************************** End */
	
	/************************************************************************************************************** prevent filter pagetree - Begin (Die Seitennamen sind damit in der Artikelansicht nicht mehr anklickbar. Das Anklicken und damit das Filtern führte für viele Anwendern zu Verwirrungen.) */
	#main .tl_listing .tl_left a:last-child { pointer-events: none; cursor: default; }
	/************************************************************************************************************** End */
}
